*.sdf
*.opendb

.vs

ie/webrtceverywhere_i.c
ie/webrtceverywhere_i.h
ie/webrtceverywhere_p.c

Release
ie/Release
npapi/Release
common/Release

common/webrtc-everywhere-common.aps

xcode/.DS_Store
xcode/webrtc-everywhere.xcodeproj/xcuserdata/*.xcuserdatad
xcode/webrtc-everywhere.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
xcode/webrtc-everywhere.xcodeproj/project.xcworkspace/xcshareddata/webrtc-everywhere.xcscmblueprint
